body{
  background-image: url("https://i2.wp.com/d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Z4PS02T/red-cloud-smoke-ink-on-water-on-white-background_rxglukhkeg_thumbnail-full07.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:1380px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

.c{
  position:relative;
  top:50%;
  left:30%;
  width:500px;
}
.signup{
  position:relative;
  top:80%;
  left:35%;
}
.c .button{
  position:relative;
  top: -60px;
  left:100%;
  height:50px;
  width:200px;
}
.c select{
  height: 50px;
  width:500px;
}
form select {

  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
form select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
form select:focus {
  background-color: white;
  color: black;
}

form .button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;

  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form .button:hover {
  background-color: maroon;
  color: white;
  transition-duration: 0.25s;
}
#mytable{
  position: relative;
	max-width: 900px;
	max-height: 500px;
	border-radius: 8px;
	background-color: maroon;
	font-family: 'Montserrat', sans-serif;
  color: white;
}
table{
  font-family: 'Montserrat', sans-serif;
	border-collapse: collapse;
	width: 100%
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: red;
}
.mycls1{
  margin-top: 30px !important;
}
@media only screen and (max-width: 600px) {
  body{
    overflow-y: scroll;
  }
  .c{
    position:relative;
    top:-60px;
    left:5%;
    width:230px;
    color:black !important;
    margin-top: 80px;
  }
  .c .button{
    position:relative;
    top:-60px;
    left:100%;
    height:50px;
    width:130px;
  }
  .c select{
    height: 50px;
    width:230px;
  }
  .signup{
    position:absolute;
    top:80%;
    left:0%;
  }
  #mytable{
    position: relative;
  	width: 90%;
  	max-height: 500px;
  	border-radius: 8px;
  	background-color: maroon;
  	font-family: 'Montserrat', sans-serif;
    color: white;
    overflow-x: auto;
  }
  table{
    font-family: 'Montserrat', sans-serif;
  	border-collapse: collapse;
  	width: 100%
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  tr:nth-child(even) {
      background-color: red;
  }
}
