<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Title</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/style2.css" %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<body>
<center>
  <i class="fa fa-heartbeat" style="font-size:58px;color:red"></i>
<div class="logo">
<h1>LIFE KART</h1>
</div></center>
	<div class="wrapper">
		<div class="container">
			<h1>Sign Up</h1>

      <div id="error1">
		{% if form.errors %}
{% for field in form %}
	 {% for error in field.errors %}
			 <div class="alert">
					 <strong>{{ error|escape }}</strong>
			 </div>
	 {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
	 <div class="alert">
			 <strong>{{ error|escape }}</strong>
	 </div>
{% endfor %}
{% endif %}
			</div>

			<form class="form" method="post">
        {% csrf_token %}
        <p><label for="id_username">Username:</label> <input class="input" type="text" name="username" maxlength="150" autofocus required id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_name">Name:</label> <input class="input" type="text" name="name" maxlength="40" required id="id_name"></p>
<p> <label for="type">Are You a?</label><select class="input" type="text" id="type" name="type" onchange="MyFunction();" required>
					<option value="" disabled selected="">Select</option>
					<option value="Donor">Donor</option>
					<option value="Blood-Bank">Blood-Bank</option>
				</select>
        <p>
          <div id="donor" style="display:none;">
					<select class="blood" name="bloodgroup1">
						<option value="" disabled selected="">Choose Your Blood Group</option>
						<option value="O+">O+</option>
						<option value="O-">O-</option>
						<option value="A+">A+</option>
						<option value="A-">A-</option>
						<option value="B+">B+</option>
						<option value="B-">B-</option>
						<option value="AB+">AB+</option>
						<option value="AB-">AB-</option>
					</select>
				</div>
        </p>
</p>
<p><label for="id_email">Email address:</label> <input class="input" type="email" name="email" maxlength="254" id="id_email"></p>
<p><label for="id_mobile">Mobile:</label> <input class="input" type="text" name="mobile" maxlength="12" required id="id_mobile"></p>
<p><label for="id_address">Address:</label> <input type="text" class="input" name="address" cols="40" rows="10" required id="id_address">
</textarea></p>
<div id="blood-bank" style="display:none;">
          <h3>Blood Groups Available</h3>
					<input class="checkbox" name="bloodgroup1" type="checkbox" value="O+"><label for="bloodgroup1">O+</label>
					<input class="checkbox" name="bloodgroup2" type="checkbox" value="O-"><label for="bloodgroup2">O-</label>
					<input class="checkbox" name="bloodgroup3" type="checkbox" value="A+"><label for="bloodgroup3">A+</label>
					<input class="checkbox" name="bloodgroup4" type="checkbox" value="A-"><label for="bloodgroup4">A-</label>
					<input class="checkbox" name="bloodgroup5" type="checkbox" value="B+"><label for="bloodgroup5">B+</label>
					<input class="checkbox" name="bloodgroup6" type="checkbox" value="B-"><label for="bloodgroup6">B-</label>
					<input class="checkbox" name="bloodgroup7" type="checkbox" value="AB+"><label for="bloodgroup7">AB+</label>
					<input class="checkbox" name="bloodgroup8" type="checkbox" value="AB-"><label for="bloodgroup8">AB-</label>
				</div><p><label for="id_password1">Password:</label> <input class="input" type="password" name="password1" required id="id_password1"> </p>
<p><label for="id_password2"> Re-type Password:</label> <input class="input" type="password" name="password2" required id="id_password2"> </p>

        <button class="mybtn" type="submit" name="button">Sign up</button>
		</div>
	</div>

<script>
	function MyFunction(){
		var1 = document.getElementById("type").value;
		if(var1 == "Donor"){
			document.getElementById("donor").style.display="block";
      document.getElementById("blood-bank").style.display="none";
      document.getElementsByClassName("checkbox").disabled=true;
		}
		else if(var2 = "Blood-Bank"){
		document.getElementById("blood-bank").style.display="block";
    document.getElementById("donor").style.display="none";
    document.getElementsByClassName("blood").disabled=true;

		}
	}
</script>

<script type="text/javascript">
	var password = document.getElementById("id_password1")
  , confirm_password = document.getElementById("id_password2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>
